In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [2]:
file_name = 'Resources/game_edited_names.csv'
df = pd.DataFrame(pd.read_csv(file_name))
df.head()

,TEAM_ID_HOME,TEAM_ID_AWAY,FGM_HOME,FGA_HOME,FG_PCT_HOME,FG3M_HOME,FG3A_HOME,FG3_PCT_HOME,FTM_HOME,FTA_HOME,...,PTS_OT4_AWAY,PTS_OT5_AWAY,PTS_OT6_AWAY,PTS_OT7_AWAY,PTS_OT8_AWAY,PTS_OT9_AWAY,PTS_OT10_AWAY,HOME_TEAM_WINS,HOME_TEAM_LOSSES,HOME_W
0,GSW,NOP,41,96,0.427,9,30,0.300,20,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1
1,CHI,CLE,37,87,0.425,7,19,0.368,16,23,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1
2,ATL,DET,37,82,0.451,8,27,0.296,12,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0
3,LAL,MIN,35,90,0.389,9,34,0.265,32,35,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0
4,PHX,DAL,34,87,0.391,6,24,0.250,21,33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0

In [3]:
le = LabelEncoder()
df['TEAM_ID_HOME'] = le.fit_transform(df['TEAM_ID_HOME'])
df['TEAM_ID_AWAY'] = le.fit_transform(df['TEAM_ID_AWAY'])
df.head()

,TEAM_ID_HOME,TEAM_ID_AWAY,FGM_HOME,FGA_HOME,FG_PCT_HOME,FG3M_HOME,FG3A_HOME,FG3_PCT_HOME,FTM_HOME,FTA_HOME,...,PTS_OT4_AWAY,PTS_OT5_AWAY,PTS_OT6_AWAY,PTS_OT7_AWAY,PTS_OT8_AWAY,PTS_OT9_AWAY,PTS_OT10_AWAY,HOME_TEAM_WINS,HOME_TEAM_LOSSES,HOME_W
0,9,18,41,96,0.427,9,30,0.300,20,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1
1,4,5,37,87,0.425,7,19,0.368,16,23,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1
2,0,8,37,82,0.451,8,27,0.296,12,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0
3,13,17,35,90,0.389,9,34,0.265,32,35,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0
4,23,6,34,87,0.391,6,24,0.250,21,33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0

In [4]:
df_corr = df.corr()

In [5]:
df_corr.to_csv('correlation_matrix.csv', index=False)