In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import pandas as pd
import tensorflow as tf
from sklearn.metrics import confusion_matrix
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2
from config import user, password, location, port, db
from sklearn.metrics import balanced_accuracy_score
import numpy as np

In [2]:
#next 5 cells are the rough plan to get data out of DB and into python
#connection = psycopg2.connect(dbname=db, user=user, password=password, host=location, port=port)

In [3]:
#my_cursor = connection.cursor()

In [4]:
#my_cursor.execute("SELECT t.abbreviation AS Home_Team, t.abbreviation, AS Away_Team, g.FGM_HOME,g.FG_PCT_HOME,g.FG3_PCT_HOME,g.DREB_HOME,g.AST_HOME,g.FGM_AWAY,g.FG_PCT_AWAY,g.FG3_PCT_AWAY,g.DREB_AWAY,g.LARGEST_LEAD_HOME,g.LARGEST_LEAD_AWAY,g.HOME_TEAM_WINS,g.HOME_TEAM_LOSSES,g.HOME_W FROM game AS g INNER JOIN team AS t ON g.TEAM_ID_HOME = t.id AND g.TEAM_ID_AWAY = t.id;")

In [5]:
# my_result = my_cursor.fetchall()

In [6]:
# columns = ['Home_Team','Away_Team','FGM_HOME','FG_PCT_HOME','FG3_PCT_HOME','DREB_HOME','AST_HOME','FGM_AWAY','FG_PCT_AWAY','FG3_PCT_AWAY','DREB_AWAY','LARGEST_LEAD_HOME','LARGEST_LEAD_AWAY','HOME_TEAM_WINS','HOME_TEAM_LOSSES','HOME_W']
# df = pd.DataFrame(myresult, columns)

In [7]:
#  Import and read the nba data.
file_name = 'Resources/game_edited_test.csv'
df = pd.read_csv(file_name)
#df.drop(columns=['TEAM_ID_HOME','TEAM_ID_AWAY'], axis=1, inplace=True)
df.head()

,PLUS_MINUS_HOME,PLUS_MINUS_AWAY,PTS_QTR1_HOME,PTS_QTR2_HOME,PTS_QTR3_HOME,PTS_QTR4_HOME,PTS_OT1_HOME,PTS_OT2_HOME,PTS_QTR1_AWAY,PTS_QTR2_AWAY,PTS_QTR3_AWAY,PTS_QTR4_AWAY,PTS_OT1_AWAY,PTS_OT2_AWAY,HOME_W
0,16,-16,39.0,20.0,35.0,17.0,0.0,0.0,35.0,14.0,26.0,20.0,0.0,0.0,1
1,2,-2,26.0,20.0,25.0,26.0,0.0,0.0,17.0,23.0,28.0,27.0,0.0,0.0,1
2,-12,12,25.0,18.0,23.0,28.0,0.0,0.0,25.0,23.0,34.0,24.0,0.0,0.0,0
3,-1,1,31.0,29.0,35.0,16.0,0.0,0.0,22.0,29.0,37.0,24.0,0.0,0.0,0
4,-16,16,22.0,23.0,21.0,29.0,0.0,0.0,24.0,30.0,34.0,23.0,0.0,0.0,0

In [8]:
# #encode team abbr
# le = LabelEncoder()
# df['TEAM_ID_HOME'] = le.fit_transform(df['TEAM_ID_HOME'])
# df['TEAM_ID_AWAY'] = le.fit_transform(df['TEAM_ID_AWAY'])
# df.head()

In [9]:
#drop non-numerical data
df = df.dropna()
drop_df = df.drop(columns=['HOME_W'], axis=1)
drop_df.head()

,PLUS_MINUS_HOME,PLUS_MINUS_AWAY,PTS_QTR1_HOME,PTS_QTR2_HOME,PTS_QTR3_HOME,PTS_QTR4_HOME,PTS_OT1_HOME,PTS_OT2_HOME,PTS_QTR1_AWAY,PTS_QTR2_AWAY,PTS_QTR3_AWAY,PTS_QTR4_AWAY,PTS_OT1_AWAY,PTS_OT2_AWAY
0,16,-16,39.0,20.0,35.0,17.0,0.0,0.0,35.0,14.0,26.0,20.0,0.0,0.0
1,2,-2,26.0,20.0,25.0,26.0,0.0,0.0,17.0,23.0,28.0,27.0,0.0,0.0
2,-12,12,25.0,18.0,23.0,28.0,0.0,0.0,25.0,23.0,34.0,24.0,0.0,0.0
3,-1,1,31.0,29.0,35.0,16.0,0.0,0.0,22.0,29.0,37.0,24.0,0.0,0.0
4,-16,16,22.0,23.0,21.0,29.0,0.0,0.0,24.0,30.0,34.0,23.0,0.0,0.0

In [10]:
# split into features and target arrays
y = df['HOME_W'].values
X = drop_df.values
print(y)

[1 1 0 ... 1 0 1]

In [11]:
# create standard scalar instance
scaler = MinMaxScaler()

In [12]:
#split preprocesed data into training/testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 10)

In [13]:
#fit the standardscaler
X_scaler = scaler.fit(X_train)

In [14]:
#scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# define the model
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 15
hidden_nodes_layer2 = 7
hidden_nodes_layer3 = 3

nn = tf.keras.models.Sequential()

#first hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

#output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

#check structure
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 15)                225
_________________________________________________________________
dense_1 (Dense)              (None, 7)                 112
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 24
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 4
=================================================================
Total params: 365
Trainable params: 365
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
116/116 [==============================] - 0s 850us/step - loss: 0.6435 - accuracy: 0.5970
Epoch 2/50
116/116 [==============================] - 0s 954us/step - loss: 0.5259 - accuracy: 0.7228
Epoch 3/50
116/116 [==============================] - 0s 963us/step - loss: 0.4078 - accuracy: 0.8539
Epoch 4/50
116/116 [==============================] - 0s 971us/step - loss: 0.3304 - accuracy: 0.9195
Epoch 5/50
116/116 [==============================] - 0s 1ms/step - loss: 0.2791 - accuracy: 0.9553
Epoch 6/50
116/116 [==============================] - 0s 997us/step - loss: 0.2296 - accuracy: 0.9778
Epoch 7/50
116/116 [==============================] - 0s 1ms/step - loss: 0.2019 - accuracy: 0.9854
Epoch 8/50
116/116 [==============================] - 0s 1ms/step - loss: 0.1788 - accuracy: 0.9924
Epoch 9/50
116/116 [==============================] - 0s 1ms/step - loss: 0.1616 - accuracy: 0.9940
Epoch 10/50
116/116 [==============================] - 0s 1ms/step - loss: 0.1478 - accuracy: 0.9967
Epoch 11/50
116/116 [==============================] - 0s 1ms/step - loss: 0.1347 - accuracy: 0.9984
Epoch 12/50
116/116 [==============================] - 0s 1ms/step - loss: 0.1256 - accuracy: 0.9981
Epoch 13/50
116/116 [==============================] - 0s 1ms/step - loss: 0.1149 - accuracy: 0.9973
Epoch 14/50
116/116 [==============================] - 0s 1ms/step - loss: 0.1048 - accuracy: 1.0000: 0s - loss: 0.1124 - accuracy: 1.
Epoch 15/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0981 - accuracy: 0.9989
Epoch 16/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0906 - accuracy: 0.9997
Epoch 17/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0850 - accuracy: 0.9995
Epoch 18/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0782 - accuracy: 1.0000
Epoch 19/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0738 - accuracy: 0.9992
Epoch 20/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0681 - accuracy: 0.9997
Epoch 21/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0641 - accuracy: 0.9997
Epoch 22/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0602 - accuracy: 0.9995
Epoch 23/50
116/116 [==============================] - 0s 997us/step - loss: 0.0554 - accuracy: 1.0000
Epoch 24/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0523 - accuracy: 1.0000
Epoch 25/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0489 - accuracy: 1.0000
Epoch 26/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0457 - accuracy: 1.0000
Epoch 27/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0435 - accuracy: 1.0000
Epoch 28/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0409 - accuracy: 1.0000
Epoch 29/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0384 - accuracy: 1.0000
Epoch 30/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0361 - accuracy: 1.0000
Epoch 31/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0343 - accuracy: 1.0000
Epoch 32/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0321 - accuracy: 0.9997
Epoch 33/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0304 - accuracy: 1.0000
Epoch 34/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0286 - accuracy: 1.0000
Epoch 35/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0272 - accuracy: 1.0000
Epoch 36/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0256 - accuracy: 1.0000
Epoch 37/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0238 - accuracy: 1.0000
Epoch 38/50
116/116 [==============================] - ETA: 0s - loss: 0.0226 - accuracy: 1.00 - 0s 1ms/step - loss: 0.0225 - accuracy: 1.0000
Epoch 39/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0214 - accuracy: 1.0000
Epoch 40/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0203 - accuracy: 1.0000
Epoch 41/50
116/116 [==============================] - 0s 980us/step - loss: 0.0194 - accuracy: 1.0000
Epoch 42/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0180 - accuracy: 1.0000
Epoch 43/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0171 - accuracy: 1.0000
Epoch 44/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0162 - accuracy: 1.0000
Epoch 45/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0155 - accuracy: 1.0000
Epoch 46/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0146 - accuracy: 1.0000
Epoch 47/50
116/116 [==============================] - 0s 989us/step - loss: 0.0138 - accuracy: 1.0000
Epoch 48/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0131 - accuracy: 1.0000
Epoch 49/50
116/116 [==============================] - 0s 1ms/step - loss: 0.0124 - accuracy: 1.0000
Epoch 50/50
116/116 [==============================] - 0s 997us/step - loss: 0.0119 - accuracy: 1.0000

In [18]:
pred = nn.predict(X_test_scaled)
y_pred = np.argmax(pred, axis=-1)
print(y_pred)

[0 0 0 ... 0 0 0]

In [19]:
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm, index=['Actual Home Loss','Actual Home Win'], columns=['Predicted Home Loss','Predicted Home Win'])
cm_df

                  Predicted Home Loss  Predicted Home Win
Actual Home Loss                  528                   0
Actual Home Win                   702                   0

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

39/39 - 0s - loss: 0.0122 - accuracy: 1.0000
Loss: 0.01218255702406168, Accuracy: 1.0

In [21]:
# 100 epochs
#2 layers (r8,r5): 0.9203252196311951
#3 layers (r8,r5,s2): 0.9219512343406677
#3 layers (r15,r7,s3): 0.9243902564048767

In [22]:
# 70 epochs
#2 layers (r8,r5): 0.922764241695404
#3 layers (r8,r5,s2): 0.9195122122764587
#3 layers (r15,r7,s3): 0.9203252196311951

In [23]:
# 50 epochs
#2 layers (r8,r5): 0.9195122122764587
#3 layers (r15,r7,r3): 0.9219512343406677

In [24]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)