In [ ]:
#import required dependencies here:
import pandas as pd
import datetime
from sqlalchemy import create_engine

## Extract from CSV files

In [ ]:
#read csv for games
#read csv 1
df1 = pd.read_csv("./Resources/game_origin.csv")
df1.head()

In [ ]:
#read csv for games
#read csv 2
df2 = pd.read_csv("./Resources/team.csv")
df2.head()

## Transform

In [ ]:
#renaming columns
df1 = df1.rename(columns={"Teamid":"TEAM_ID_HOME"})
df1.head()

In [ ]:
#delete unneeded columns
df2.drop(df2.columns[[6]],axis=1, inplace=True)
df2.head

## Load

In [ ]:
CREATE TABLE team (
id VARCHAR NOT NULL,
	full_name VARCHAR NOT NULL,
    abbreviation VARCHAR NOT NULL,
	nickname VARCHAR NOT NULL,
	city VARCHAR NOT NULL,
	state VARCHAR NOT NULL,
	year_founded VARCHAR NOT NULL,
PRIMARY KEY (id)
	);

In [ ]:
#SQL login info
protocol = 'postgres'
url = 'localhost'
port - '5432'
db = 'my_nba_data_class_db'
connection_string = f"{protocol}://{username}:{password}@{url}:{port}/{db}"
engine = create_engine(connection_string)

In [ ]:
# Load my pandas dataframe for table 1
new_df.to_sql(name="game", con=engine, if_exists='append', index=False)

In [ ]:
# Load my pandas dataframe for table 2
new_df.to_sql(name="team", con=engine, if_exists='append', index=False)

In [ ]:
# Confirm data has been added to the table
pd.read_sql_query("SELECT * FROM game", con=engine).head()

In [ ]:
# Confirm data has been added to the table
pd.read_sql_query("SELECT * FROM team", con=engine).head()